/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    margin: 0.5em 0;
    color: #333;
}

p {
    margin: 0.5em 0;
    line-height: 1.6;
    color: #555;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
}

a {
    color: #216c8d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background: linear-gradient(to right, #8eb1d2, #216c8d);
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header img {
    width: 200px;
    margin-bottom: 1em;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Navigation Styles */
nav {
    text-align: center;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    margin: 0 1.5em;
    color: #216c8d;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #8eb1d2;
}

/* Container Styles */
.container {
    padding: 2em;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
    overflow: hidden; /* Ensure no overflow issues */
}

.section {
    margin-bottom: 1em;
}

.section h2 {
    border-bottom: 1px solid #8eb1d2;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

/* Team Member Styles */
.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    padding: 1em;
    background-color: #e9e9e9;
    border-left: 5px solid #216c8d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.team-member img {
    border-radius: 50%;
    margin-right: 1em;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.team-member h3 {
    color: #216c8d;
    margin-bottom: 0.5em;
}

.team-member p {
    margin: 0.2em 0;
}

/* Footer Styles */
footer {
    background: linear-gradient(to right, #8eb1d2, #216c8d);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #fff;
    margin: 0;
}

.about-section {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.about-content {
    flex: 1; /* Take remaining space */
    margin-right: 20px; /* Add spacing between content and image */
}

.about-img img {
    max-width: 100%; /* Ensure image fits container */
    height: auto; /* Maintain aspect ratio */
}